.header {
  border-left: var(--48px) solid white;
  border-right: var(--48px) solid white;
  border-top: var(--48px) solid white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  width: 100%;
  z-index: 2;
}

.header_title_wrapper {
  background-color: white;
  /* line-height: 1; */
  width: 100%;
}

.header_title_wrapper a {
  text-decoration: none;
}

.header_title {
  color: black;
  font-size: var(--48px);
  font-weight: 200;
  line-height: 1;
  /* margin-bottom: var(--margin-small); */
}

.header_subtitle {
  border-bottom: 1px solid var(--light-variation-deco-border);
  font-weight: 700;
  font-size: var(--24px);
  margin-top: var(--margin-small);
  padding-bottom: var(--10px);
  /* margin-bottom: var(--margin-medium); */
}

/***** MEDIA QUERIES *****/
@media all and (max-width: 767px) {
  .header {
    border-left: var(--24px) solid white;
    border-right: var(--24px) solid white;
    border-top: var(--24px) solid white;
  }
}

@media all and (max-width: 1023px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* padding-right: var(--24px); */
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
  }

  .header_title_wrapper {
    line-height: var(--16px);
    order: 2;
    text-align: right;
  }

  .header_title {
    font-size: var(--24px);
    font-weight: 400;
  }

  .header_subtitle {
    font-weight: 300;
    font-size: var(--18px);
    margin-bottom: 0;
  }
}
