.header {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* padding-right: var(--48px); */
  position: fixed;
  top: var(--48px);
  bottom: 0;
  overflow-y: auto;
  width: 275px;
  z-index: 5;
}

.header_title_wrapper a {
  text-decoration: none;
}

.header_title {
  color: black;
  font-size: var(--48px);
  font-weight: 200;
  margin-bottom: var(--margin-small);
}

.header_subtitle {
  border-bottom: 1px solid var(--light-variation-deco-border);
  font-weight: 700;
  font-size: var(--24px);
  padding-bottom: var(--10px);
  margin-bottom: var(--margin-medium);
}

/***** MEDIA QUERIES *****/
@media all and (max-width: 1023px) {
  .header {
    border-bottom: 1px solid #e5e5e5;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* padding-right: var(--24px); */
    position: relative;
    top: 0;
    width: 100%;
    max-width: 100%;
  }

  .header_title_wrapper {
    line-height: var(--16px);
    order: 2;
    text-align: right;
  }

  .header_title {
    font-size: var(--24px);
    font-weight: 400;
  }

  .header_subtitle {
    border-bottom: none;
    font-weight: 300;
    font-size: var(--18px);
    margin-bottom: 0;
  }
}
