.header {
  padding-right: var(--48px);
  position: fixed;
}

.header_title {
  color: black;
  font-size: var(--48px);
  font-weight: 200;
  margin-bottom: var(--margin-small);
}

.header_subtitle {
  border-bottom: 1px solid #e5e5e5;
  font-weight: 700;
  font-size: var(--24px);
  padding-bottom: var(--10px);
  margin-bottom: var(--margin-medium);
}

.nav_categories {
  font-size: var(--20px);
  font-weight: 500;
}

.nav_categories:not(:first-child) {
  margin-top: var(--16px);
}

.header_link,
.nav_links {
  text-decoration: none;
  transition: all ease-in-out 300ms;
}

.header_link:hover,
.nav_links:hover {
  font-weight: 500;
}

.list_item {
  list-style-type: none;
  padding-left: var(--16px);
}
