.modal_bg {
  background-color: rgb(255 255 255 / 100%);
  backdrop-filter: blur(15px);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: var(--48px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 99;
}

.modal_image_container {
  display: flex;
  justify-content: center;
  max-height: 100%;
  margin-bottom: var(--16px);
}

.modal_image {
  box-shadow: var(--shadow-elevation-medium);
  width: auto;
  height: auto;
  pointer-events: none;
}

.modal_buttons_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--24px);
  position: absolute;
  bottom: var(--48px);
}

.modal_button {
  background-color: var(--button-primary);
  border: none;
  border-radius: var(--border-radius-button);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  font-weight: 400;
  padding: var(--10px);
  outline: none;
  transition: all ease-in-out 300ms;
}

.button_close_mobile {
  position: absolute;
  right: var(--24px);
  top: var(--48px);
}

.button_close:hover {
  background-color: red;
  rotate: 90deg;
}

.button_option {
  font-weight: 500;
}

.button_arrows:hover,
.button_option:hover,
.button_opened {
  background-color: var(--button-hover);
}

.mobile_buttons_container {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--24px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.image_options_container {
  position: relative;
  /* margin-right: var(--16px); */
}

.image_options_content {
  display: none;
  background-color: white;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-basic);
  padding: var(--16px) var(--24px);
  position: absolute;
  top: -16rem;
}

.open {
  display: flex;
  flex-direction: column;
  gap: var(--16px);
}

.image_option_item {
  display: flex;
  flex-direction: column;
  gap: var(--16px);
  justify-content: space-between;
}

.option_inputs {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 200px;
}

.option_title {
  font-size: var(--16px);
  font-weight: 500;
}

.datalist {
  display: flex;
  justify-content: space-between;
  width: 205px;
}

.datalist_options {
  padding-left: 5px;
}

.hidden_mobile {
  display: none;
}

/***** MEDIA QUERIES *****/
@media all and (max-width: 1023px) {
  .modal_bg {
    padding: var(--24px);
  }

  .button_option,
  .image_options_content {
    display: none;
  }

  .hidden_mobile {
    display: flex;
  }

  .hidden_desktop {
    display: none;
  }
}

@media all and (min-height: 500px) {
  .hidden_mobile {
    display: none;
  }

  .hidden_desktop {
    display: block;
  }
}
