.modal_bg {
  background-color: rgb(255 255 255 / 100%);
  backdrop-filter: blur(15px);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: var(--48px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 99;
}

.modal_image_container {
  display: flex;
  justify-content: center;
  max-height: 75%;
  margin-bottom: var(--16px);
}

.modal_image {
  /* border: 10px solid black; */
  width: auto;
  height: auto;
}

.modal_buttons_container {
  display: flex;
  align-items: center;
  gap: var(--24px);
}

.modal_button {
  border-radius: var(--border-radius-button);
  background-color: var(--background-light);
  cursor: pointer;
  padding: var(--10px);
}

.button_close {
  border: 2px solid red;
}

.button_arrows {
  border: 1px solid black;
}

/***** MEDIA QUERIES *****/
@media all and (max-width: 767px) {
  .modal_bg {
    padding: var(--24px);
  }
}
