.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--48px);
  min-height: 100vh;
}

.page_title {
  /* margin-top: 10rem; */
  font-size: var(--48px);
  font-weight: 200;
  margin-bottom: var(--margin-small);
  text-align: right;
  width: 100%;
}

.page_title,
.images_container {
  padding-left: 17rem;
}

.images_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--48px);
  width: 100%;
}

.image_wrapper {
  cursor: zoom-in;
  position: relative;
  height: 400px;
  width: 45%;
  transition: all ease-in-out 300ms;
}

.image_wrapper:hover {
  box-shadow: var(--shadow-elevation-medium);
}

.image {
  /* border: 20px solid white;
  border-radius: var(--border-radius); */
  box-shadow: var(--shadow-elevation-medium);
  object-fit: cover;
  pointer-events: none;
}

/***** MEDIA QUERIES *****/
@media all and (max-width: 767px) {
  .main {
    padding: var(--24px);
  }

  .image_wrapper {
    height: 200px;
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .image_wrapper {
    height: 300px;
    width: 100%;
  }
}

@media all and (min-width: 1024px) and (max-width: 1199px) {
  .image_wrapper {
    height: 400px;
    width: 100%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  .images_container {
    flex-direction: column;
  }

  .image_wrapper {
    height: 500px;
    width: 100%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1799px) {
  .image_wrapper {
    height: 300px;
  }
}

@media all and (min-width: 1800px) and (max-width: 2047px) {
  .image_wrapper {
    height: 400px;
  }
}

@media all and (min-width: 2048px) {
  .image_wrapper {
    height: 500px;
  }
}
