.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.images_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--48px);
  width: 100%;
}

.image_wrapper {
  position: relative;
  height: 10rem;
  width: 10rem;
}

.image {
  /* border: 20px solid white;
  border-radius: var(--border-radius); */
  box-shadow: var(--shadow-elevation-medium);
  pointer-events: none;
}
