.nav,
.nav_list {
  display: flex;
  flex-direction: column;
}

.nav_button {
  display: none;
}

.nav_container {
  width: 275px;
}

.nav_section,
.nav_list {
  font-size: var(--22px);
  text-decoration: none;
}

.nav_list {
  margin-top: var(--margin-small);
  overflow-y: auto;
}

.nav_categories {
  font-size: var(--18px);
  font-weight: 600;
  text-decoration: none;
}

.nav_categories:not(:first-child) {
  margin-top: var(--16px);
}

.nav_links,
.list_folder {
  font-size: var(--16px);
}

.nav_links {
  font-weight: 400;
  text-decoration: none;
}

.nav_section,
.nav_list,
.nav_links:hover {
  font-weight: 700;
}

.list_folder_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: var(--16px);
}

.expand_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 5px 0 0;
}

.toggled {
  transform: rotate(-180deg);
}

.list_folder {
  font-weight: 500;
}

.expanded {
  max-height: 10rem;
}

.hidden {
  max-height: 0px;
  overflow-y: hidden;
}

.list_folder,
.list_item {
  padding-left: var(--16px);
}

.list_item {
  border-radius: 5px;
  list-style-type: none;
  padding-right: var(--32px);
}

.list_item:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(172, 172, 172, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  color: white;
}

.expand_button,
.list_folder_content,
.list_item {
  transition: all ease-in-out 300ms;
}

/***** MEDIA QUERIES *****/
@media all and (max-width: 767px) {
  .nav_container {
    padding: 6rem var(--24px) 0 var(--24px);
    width: 300px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .nav_container {
    padding: 8rem var(--48px) 0 var(--48px);
    width: fit-content;
  }
}

@media all and (max-width: 1023px) {
  .nav_categories {
    font-size: var(--18px);
    font-weight: 500;
  }

  .nav_button {
    background: transparent;
    border: none;
    display: block;
    outline: none;
    padding: 1rem 0;
    transition: all ease-in-out 500ms;
    z-index: 99;
  }

  .nav_container {
    background-color: white;
    box-shadow: 2px 2px 20px 1px rgba(212, 212, 212, 0.5);
    display: flex;
    flex-direction: column;
    /* padding: 8rem var(--48px) 0 var(--48px); */
    /* width: 275px; */
    height: 100vh;
    position: fixed;
    left: -100vw;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    visibility: hidden;
  }

  .open_nav {
    left: 0;
    visibility: visible;
  }

  .button_bar,
  .button_bar::before,
  .button_bar::after {
    background: black;
    border-radius: 3px;
    display: block;
    width: var(--40px);
    height: 0.2rem;
    position: relative;
    transition: all ease-in-out 500ms;
  }

  .button_bar::before,
  .button_bar::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .button_bar::before {
    transform: translateY(-12px);
  }

  .button_bar::after {
    transform: translateY(12px);
  }

  .open_nav .button_bar::before {
    transform: rotate(45deg);
  }

  .open_nav .button_bar {
    background: transparent;
    width: 0;
  }

  .open_nav .button_bar::after {
    transform: rotate(-45deg);
  }

  .nav_button:hover {
    cursor: pointer;
  }
}
