.main_wrapper {
  padding-left: 17rem;
  width: 100%;
}

.card_wrapper {
  padding-left: 17rem;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  position: relative;
  height: 400px;
  width: 47.5%;
  transition: all ease-in-out 300ms;

  /* width: 40rem; */
  /* height: 40rem; */
  /* position: relative; */
  /* background-image: url("../../../public/images/avatar.jpg"); */
  /* object-fit: cover; */
}

.image {
  /* border: 20px solid white; */
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-elevation-medium);
  object-fit: cover;
  pointer-events: none;
}

/***** MEDIA QUERIES *****/
@media all and (max-width: 767px) {
  .image_wrapper {
    height: 200px;
    width: 100%;
  }
}

@media all and (min-width: 549px) and (max-width: 767px) {
  .card_wrapper {
    height: 300px;
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .card_wrapper {
    height: 400px;
    width: 100%;
  }
}

@media all and (min-width: 1024px) and (max-width: 1199px) {
  .card_wrapper {
    height: 400px;
    width: 100%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  .card_wrapper {
    height: 500px;
    width: 100%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1799px) {
  .card_wrapper {
    height: 300px;
  }
}

@media all and (min-width: 1800px) and (max-width: 2047px) {
  .card_wrapper {
    height: 400px;
    width: 48%;
  }
}

@media all and (min-width: 2048px) {
  .card_wrapper {
    height: 500px;
    width: 48.5%;
  }
}
