.main_wrapper {
  padding-left: 17rem;
  width: 100%;
}

.card_wrapper {
  border-radius: var(--border-radius-small);
  cursor: pointer;
  padding-left: 17rem;
  position: relative;
  height: 400px;
  width: 47.5%;
  transition: all ease-in-out 300ms;
}

.card_wrapper:hover {
  box-shadow: var(--shadow-elevation-medium);
  opacity: 0.9;
}

.image {
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-elevation-medium);
  object-fit: cover;
  pointer-events: none;
  filter: brightness(70%);
}

.card_title {
  text-shadow: 1px 1px 10px black;
  color: white;
  font-size: var(--28px);
  font-weight: 600;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

/***** MEDIA QUERIES *****/
@media all and (max-width: 767px) {
  .card_wrapper {
    height: 200px;
    width: 100%;
  }
}

@media all and (min-width: 549px) and (max-width: 767px) {
  .card_wrapper {
    height: 300px;
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .card_wrapper {
    height: 400px;
    width: 100%;
  }
}

@media all and (min-width: 1024px) and (max-width: 1199px) {
  .card_wrapper {
    height: 400px;
    width: 100%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1439px) {
  .card_wrapper {
    height: 500px;
    width: 100%;
  }
}

@media all and (min-width: 1440px) and (max-width: 1799px) {
  .card_wrapper {
    height: 300px;
  }
}

@media all and (min-width: 1800px) and (max-width: 2047px) {
  .card_wrapper {
    height: 400px;
    width: 48%;
  }
}

@media all and (min-width: 2048px) {
  .card_wrapper {
    height: 500px;
    width: 48.5%;
  }
}
